// content-text.php

// Sub Titles Styling
.fc-content{
  p{
    margin-bottom: 20px;
  }
  &.subtitle-text{
    h3{
      font-size: $xlarge-font;
      margin-bottom:25px;
    }
  }
}



// Text Area Style
.fc-content{
  margin-bottom: 10px;
  &.text-area{
    &:first-of-type{
      p{
        margin-bottom: 20px;
        &:first-of-type{
          @include fontSize($medium-font);
        }
      }
    }
    a{
      color:red;
      text-decoration: underline;
      display: inline-block;
    }
  }
}
@include breakpoint(medium only) {
  .text{
    // padding:50px 80px;
  }
}
@include breakpoint(xlarge) {
  .text p{
     max-width: percentage(7/8);
  }
}
