// Home Page Styling

// ** Spacer on mobile and medium **
.spacer{
  height: 176px;
  // margin-bottom:3px;
  @include breakpoint(large) {
    display: none;
  }
}

// ** Information Panels bg **
information-panels{
  display: block;
  padding:25px 0 40px 0;
  background-image: url('../images/background-grey.png');
  @include breakpoint(large) {
    padding-bottom: 0;
  }
}

// White Panels Typography
information-panels{
  .panel{
    @include fontSize($small-font);
    height: 100%;
    .title{
      margin-bottom: 15px;
      h3{
        color:$brandRed;
        padding-bottom: 10px;
        border-bottom: 1px solid $lightGray;
        display: inline-block;
      }
    }
    img{
      @include centerBlock;
    }
    h6{
      font-weight: 600;
      max-width: 238px; // ----------- fix info icon and text
      margin-bottom:10px;
    }
    li{
      list-style-type: none;
      .fa-arrow-right{
        margin-left: 0px;
      }
    }
    a{
      text-decoration: underline;
      font-size:$small-font;
    }
    .panel-link{
      position:absolute;
      bottom:20px;
    }

    // ** latest news post **
    .post{
      p{
        margin-bottom: 5px;
      }
      a{
        display: block;
        margin-bottom: 5px;
      }
      span{
        color:$gray;
        font-weight: 400;
      }
      a{
        color:$brandRed;
        text-transform: uppercase;
        text-decoration: none;
        .fa-arrow-right{
          margin-left: 5px;
        }
      }
    }
  }
    //Important updates
    .important-update{
      h6{
        margin-left: 25px;
        position: relative;
        &:before{
          content:url('../../assets/images/svgs/info-circle.svg');
          left:-25px;
          position: absolute;
        }
      }
    }

    // Thinner 3 Panels
    .blog-post{
      display: flex;
      justify-content: space-between;
      .blog-img{
        flex-basis: 22%;
        min-width: 89px;
        margin-right: 10px;
      }
      .content{
        flex-basis: 73%;
        h6{
          text-decoration: underline;
          font-weight:600;
          margin-bottom: 13px;
        }
        p{
          margin-bottom: 13px;
        }
        .fa-arrow-right{
          margin-left:8px;
        }
        a{
          text-transform: uppercase;
          text-decoration: none;
          color:$brandRed;
        }
      }
    }
  }

  // ************** Welcome-panel *****************

  welcome-panel{
    display: block;
    background: $white;
    padding-top: 45px;
    h2{
      color:$brandRed;
      margin-bottom: 25px;
    }
    p{
      margin-bottom: 15px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }

    @include breakpoint(xlarge) {
      .content{
        max-width: 800px;
      }
    }
  }
