// Color Pallet

$brandRed: #d61b16;
$brandLightRed: #d12220;
$darkWhite: #fcfcfc;
$gray:#a5a5a5;
$lightGray:#f2f2f2;
$xlightGray:#e1e1e1;
$cream:#eeeeee;
$coalBlack: #3d3d3d;
$white:#fff;

//Font Families
$filson-pro : "filson-pro",sans-serif;
$myriad-pro : "myriad-pro",sans-serif;


// Font Sizes - <P> // Variables for the fontSize($size) Mixin
$baseFont:16px;

$xxlarge-font:36px;
$xlarge-font :24px;
$large-font :20px;
$medium-font :18px;
$small-font :14px;
$xsmall-font :13px;
