// HEADING STYLING

// ** Burger menu - (burger and cross controled in script.js file) **
.burger{
  outline: none;
  width:50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  .line{
    position: absolute;
    left:0px;
    height: 2px;
    width: 100%;
    background: $white;
  }
  .line01{
    top:25%;
  }
  .line02{
    top:50%;
  }
  .line03{
    top:75%;
  }
}

//Menu Close class toggled in JS
.menu-burger.close .line01{
  transform:rotate(45deg);
  top:50%;
}
.menu-burger.close .line02, .menu-burger.close .line03 {
 transform:rotate(-45deg);
 top:50%;
}

// ********** Small and medium Header styling ************

// Top header
header#small-up{
  // background-image: url('../images/background-red.png');
  background-color: #cb1a15;
  padding:25px 0 25px 0;
  font-family:$filson-pro;
  color:$white;
  //fixed Header
  position: fixed;
  width:100%;
  z-index: 1;
  .header-top{
    padding:0 20px;
    display: flex;
    div#logo{
      display: flex;
      align-items: center;
      flex-basis: 75%;
      .logo{
        max-width: 45px;
        height: auto;
      }
      .main-header{
        margin-left: 20px;
        letter-spacing: -0.03em;
        font-size:$xlarge-font;
        span{
          display: block;
          @include fontSize($large-font);
        }
      }
    }
    // Mobile Nav - "Menu" and "Close"
    div#main-menu{
      flex-basis: 25%;
      .title-bar{
        background: none;
        text-align: right;
        position: relative;
        .title-bar-title{
          display: none;
        }
      }
    }
    @include breakpoint(medium) {
      div#logo{
        h1{
          line-height: 1.0;
          span{
            @include fontSize($xlarge-font);
          }
        }
      }
      div#main-menu{
        .title-bar{
          .title-bar-title{
            display: inline-block;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 75px;
          }
        }
      }
    }
  }
  @include breakpoint(large) {
    display: none;
  }
}

// Bottom header - Header bar
header-bar{
  display: block;
  background: $brandRed;
  font-family:$filson-pro;
  position: fixed;
  top:118px;
  width:100%;
  z-index: 1;
  padding:17px 0;
  font-weight: 600;
  .header-bar{
    padding:0 20px;
    display: flex;
    a{
      color:$white;
    }
    div{
      &.search{
        flex-basis: 25%;
      }
      &.contact{
        flex-basis: 75%;
        a{
          float: right;
          &:nth-of-type(1){
            margin-left:20px;
          }
          &.med-email{
            display: none;
          }
        }
      }
    }
  }
  //Changing the email text displayed
  @include breakpoint(medium) {
    .header-bar{
      div{
        &.contact{
          a{
            &.med-email{
              display: block;
            }
            &.small-email{
              display: none;
            }
          }
        }
      }
    }
  }
  @include breakpoint(large) {
    display: none;
  }
}



// ************** Large and up Header **************

header#large-up{
  display: none;
  @include breakpoint(large){
    font-family:$filson-pro;
    display: block;
    background-color: #cb1a15;
    // background-image: url('../images/background-red.png');
    padding:10px 0 20px 0;
    .header{
      display: flex;;
      justify-content: space-between;
      padding:0 20px;
      div{
        flex-basis: 33.333%;
        text-align:center;
      }
      .main-header{
        color:$white;
        display: inline;
        line-height: 1.1;
        max-width:425px;
        font-size:48px;
      }
      h2{
        @include fontSize($xxlarge-font);
        text-align: center;
      }
      img{
        @include centerBlock;
      }
      a{
        color:$white;
      }
      .search{
        text-align: right;
        .fa-search{
          margin-left: 10px;
        }
      }
      .contact{
        text-align: left;
        a{
          &.tel{
            @include fontSize($xlarge-font);
          }
          .fa-facebook-square{
            margin-left:15px;
            font-size: 24px;
          }
        }
      }
    }
  }
}


// ****Navigation*****
#dropdown-menu{
    background: $white;
    display: none;
    margin-top: 176px;
    font-family:$filson-pro;
    @include fontSize($xlarge-font);
    position: absolute;
    z-index: 100;
    //fixed Nav
    position:fixed;
    //full width of the screen menu.
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 85px;
    text-align: center;
    ul{
      text-align: center;
      margin-bottom:70px;
      &.sub-menu{///
        display: none;
      }
      li{
        display: block;
        margin-bottom:12px;
        a{
          display: block;
          text-align: center;
        }
      }
    }
    .btn{
      @include fontSize($medium-font);
      color:$white;
      background: $brandRed;
      padding:10px 15px;
      text-align: center;
      border-radius: 5px;
      .fa-facebook-f{
        color:$white;
      }
    }
    @include breakpoint(large){
      background-color:$brandRed;
      @include fontSize($baseFont);
      display: block;
      background:$brandRed;
      margin: 0;
      height: 60px;
      position: relative;
      padding-top:0;
      ul{
        text-align: center;
        margin-bottom: 0;
        li{
          display: inline-block;
          margin-bottom: 0;
          position: relative;
          a{
            padding: 18px 16px;
            color:$white;
          }
        .sub-menu{
          display: block;
          position: absolute;
          background-color: $brandRed;
          padding: 13px 25px;
          z-index: 1;
          min-width: 230px;
          top:60px;
          visibility: hidden;
          opacity: 0;
          transition: all ease-in-out 250ms;
          li{
            display: inline;
            a{
              padding:0;
              text-align: left;
              margin-bottom: 5px;
            }
          }
        }
        &.menu-item-has-children:hover .sub-menu {
          transition: all ease-in-out 250ms;
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .btn{
      display: none;
    }
  }
}


// New header appears on scroll in large and up browers
#large-after-scroll{
  div#logo-scroll{
    display: flex;
    align-items: center;
    flex-basis: 75%;
    .logo-scroll{
      max-width: 60px;
      height: auto;
      margin:0;
    }
    .main-header-scroll{
      margin-left: 20px;
      letter-spacing: -0.03em;
      font-size:$xxlarge-font;
      text-align: left;
      line-height:1.3;
      span{
        display: block;
        @include fontSize($xlarge-font);
      }
    }
  }
}












.search{
  .fa-search{
    margin-left: 10px;
  }
}

// SCROLL MAGIC HEADER
#scroll-magic-header{
  z-index: 100;
}
